.navbar {
    height: 80px;
    width: 100%;
}
.container-fluid {
    width: 100%;
    height: auto;
    background-image: url(./imagens/fundo.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(24, 22, 22);

}
.col-sm {
    margin:0;
}
.model{
    width: 23rem;
    margin: 10px 35px;
    height: 480px;
    float: left;
}